<h1>Burger Order</h1>

<h2>Place your order</h2>

<form id = "ajax-form2" method="GET">
{{#each ingredients}}
    <li>
    <ul id = {{this.name}}>{{this.name}}</ul>
    <button type="submit" value="Edit1" name = {{this.name}}>Edit</button>
    <button type="submit" value = "oos" name = {{this.name}}>Out of Stock</button>
    <input type="text" name={{this.name}} />
    </li>
{{/each}}
</form>

<form id = "ajax-form" action="add" method="POST">
<div id="result">
</div>
  Add Ingredient (product: cost): <input type="text" name="custom"/> 
  <button type="submit" value="Add">Add</button><br/>
</form>


<a href="/order">Order</a> 