<h1>Burger Kitchen</h1>

<h2>Pending Orders</h2>

<form id = "ajax-form4" method="GET">
{{#each orders}}
    <li id = {{this.price}} name = {{this.name}}> {{this.name}}: {{this.price}}$  </li>
    <button type="submit" name = {{this.name}} value="Complete">Complete</button><br/>
{{/each}}

</form>




<a href="/">Ingredients</a> 
<a href="/order">Order</a>