<h1>Twoter</h1>

<h2>Post ur stuffs</h2>

<h3 id = 'user'></h3>
<li><button type="button" value="twote">Twote</button> <input type="text" name="twote"/> </li> 

<form id = "ajax-form2" method="GET">


Users: <br/>
{{#each result.user}}
    <ul id = {{this.name}}>{{this.name}}</ul>
{{/each}}
Posts:
{{#each result.post}}
    <ul id = {{this.author}} name = {{this.post}}>this guy: {{this.author}}Twoted: {{this.post}}</ul>
    <button type="button" id = "remove" name = {{this.author}} value="{{this.post}}" >Remove</button>
{{/each}}
<li id = 'logout'></li>
<button type="submit" value="Logout">Logout</button><br/>
</form>
<form id = "ajax-form3" method="GET">
<li id = "posts"></id>
</form>
<a href="/login">Login</a>


